
  .sideB {
    position: sticky;
    top: 0;
    left:0;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: space-between;
    /* background-color: rgb(90, 139, 101); */

    width: 35px;
    /* max-width: 17%;
    min-width: 17%; */
    gap:16px;
    transition: width 0.3s ease-in-out;
    border-right: 1px solid #F2F2F2;
  }

  .sidebIn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    padding-bottom: 12%;
 
  }
  .sideTop{
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  
 .collapse{
  /* background-color: aqua; */
  /* margin-left:90%; */
  /* padding-bottom: 20px; */
  flex-basis: 24px;
  flex-shrink: 0;
  color: #dddddd;
  /* display: flex; */
  align-self: flex-end;
  justify-self: flex-end;
 } 

  .sideLow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    height: 5%;
    gap: 5%;
    width: 100%;
    transition: ease-in-out;
    /* transform: rotate(90deg); */
  }
  
  *.sideLow :hover {
    color:#609260;
  }

  .sideListy {
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    list-style-type: none;
    gap: 12px;
    /* background-color: black ; */
  }


  .sideListx {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 1px;
    /* border-style: solid;
    border-radius: 8px;
    border-color: white; */
    padding-left: 12px;
    /* background-color: aqua; */
    width: 100%;
    gap: 1rem;

  }

  /* .sideListx :hover{
    background :#505A50;
    color: white;
    transition:all 0.1s;
    border-width: 1px;
    border-style:hidden;
    border-radius: 8px;
  } */

  .link{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    border-width: 1px;
    border-style:hidden;
    border-radius: 8px;
    border-color: white;
    background: white;    
    gap: 10px;
    color:#0A0908;
    ;
  }

  .link :hover{
    background :#505A50;
    color: white;
    transition:all 0.1s;
    border-width: 1px;
    border-style:hidden;
    border-radius: 8px;
  }

  .active {
    background :#0A0908;
    color: white;
  
    border-width: 1px;
    border-style:hidden;
    border-radius: 8px;
   
  }
  .active :hover {
    background :#0A0908;
    color: white;
  
    border-width: 1px;
    border-style:hidden;
    border-radius: 8px;
  }
  
  h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
  }

 
  .line {
    width: 2px;
    height: 100%;
    padding: 0px;
    display: flex;
    background-color: #F2F2F2;
  }

  @media only screen and (max-width: 900px) {
    .sideB {
      display: none;
      padding-right: 2px;
      justify-content: space-between;
      /*background-color: blue;*/
      width: fit-content;
      height: 100vh;
    }
  }