@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,body{min-height: 100vh;}
* {
  box-sizing: border-box;
  /* overflow: hidden; */
}

body > * {
  font-family: "Inter", sans-serif;

  
}

.icon :hover{
  color: aquamarine;
}

button {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 129px;
  height: 48px;
  border-color: #D0D5DD;
  border-radius: 8px;
  background: white;
  
  /* box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); */
}
.allBody {
  min-height: 1024px;
  max-height: 1024px;
  height: 100vh ;
  display:flex;
  flex-direction: column;
  /* position:-ms-page; */
  /* background-color: #282c34; */
  /* padding-right: 2.5%;
  padding-left: 1%; */

}


.center {
  flex-basis: 1024px;
  max-height: 1024px;
  flex-grow: 0;
  flex-shrink: 0;
  /* height:  1  ; */
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-left: 1%;
  padding-right: 2.5%;
  /* background-color: #667085; */
  overflow: scroll;
}

.main {
  display: flex;
  padding: 30px 2% 0% 5%;
  width:100% ;
  overflow: scroll;
  /* background-color:greenyellow; */
  justify-content: space-between;

}




@media only screen and (max-width: 900px) {


  body {
    /* padding-left: 2%;
    padding-right: 2%; */
  }
   
  .allBody {
    min-height: 120vh;
    /* position:-ms-page; */
    /* background-color: #282c34; */
    /* padding-right: 2.5%;
    padding-left: 1%; */
  
  }

  .center {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 8%;
    /* background-color: #667085; */
    width: 100%;
    height: 1200px;
  }

  .main {
    padding: 2% 15px 0% 0%;
    width: 100%;
    height:100%;

    /* background-color:greenyellow; */
  }

  button {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 86px;
    height: 32px;
    border-color: #D0D5DD;
    border-radius: 8px;
    background: white;
    /* box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); */
  }

  @media only screen and (max-width: 600px) {

 
    .allBody {
      min-height: 150vh;
      /* position:-ms-page; */
      /* background-color: #282c34; */
      /* padding-right: 2.5%;
      padding-left: 1%;
     */
    }

    .center {
      display: flex;
      flex-direction: row;
      /* background-color: #667085; */
      width: 100%;
      height: 1600px;
      padding-top: 30px;
    }
  }
}

.fullheight {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 72px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

